**/build/
**/build-dev/
**/.cache/
**/.DS_Store
**/internal/
**/build_ci/
**/site/
**/interal/
**/__pycache__
**/legacy/
**/ref/
# **/external/
**/scratch/
**/assets/
docs/api/
**/data/ephemerides/diagnostics
**/external/cspice